.head{
     background-color: ghostwhite;
    width: auto;
    height: 6rem;
}
.head div{
    font-size: 3rem;
    text-align: center;
    line-height: 1rem;
}
a{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    text-align: left;
    color: black;
    line-height:6rem ;
}
img{
    width: 100%;
    height: auto;
}
.p1{
    font-size: 4rem;
    text-align: center;
}
.pro{
    text-align: center;
}
.p2{
    font-size: 3rem;
    text-align: left;
}
