<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址</title>
</head>
<body>
<div>
    <div style="font-size: 5rem"><a style="display: inline-block;" href="/mine/"><</a><span style="text-align: center">我的地址</span></div>
    {% for ad in  address1%}
        <div style="font-size: 3rem">{{ ad.name }}&nbsp;&nbsp;{{ ad.phoneNum }}<a style="font-size: 3rem;width: auto;background-color:gray;float: right" href="/modify/{{ ad.id }}">|编辑</a></div>
        <br />
    {% endfor %}
 <div style="height: auto;background-color: yellow;width: 19rem;font-size: 3rem;"><a href="/add/">添加收货地址</a></div>
</div>
</body>
</html>