{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品详情</title>
    {% block link %}
<link type="text/css" rel="stylesheet" href="{% static 'market/css/profiles.css' %}">
{% endblock link %}
{% block script %}
<script type="text/javascript" src="{% static 'market/js/profiles.js' %}"></script>
{% endblock script %}
</head>
<body>

<div class="head">
    <a href="/market/{{ product.categoryId }}/0/0">〈</a><div>{{ product.name }}</div>
</div>
<div class="p1">
    <div class="img">
        <img src="{{ product.img }}"/>
    </div>
    <div>
        {{ product.name }}
    </div>
    <div>
        ￥{{ product.price }}
    </div>
</div>
<hr/>
<div class="p2">
    <div class="pro">--商品详情--</div>
    品牌:{{ product.brandName }}<br />
    产品规格：{{ product.specifics }}
</div>
</body>
</html>