{% extends 'myApp/base.html' %}
{% load static %}
{% block title %}欢迎进入看吧电影推荐{% endblock title %}
{% block content  %}
    <div style="width: 100%;height: 100%;position: fixed;z-index: -10;
        background-image: url({% static "image/1.jpg"%});background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 100% 100%;">
<div class="panel panel-default">
  <ul class="list-group">
    <li class="list-group-item" style="text-align: center;background: #f5fff2">欢迎：{{ user_id }}用户来到看吧电影推荐系统！</li>
  </ul>
</div>
</div>
{% endblock content %}
